.btn {
  height: 10rem;
  width: 10rem;
  border: 4px solid #635b55;
  position: relative;
}
.btn:first-child,
.btn:nth-child(2),
.btn:nth-child(3) {
  border-top: none;
}

.btn:last-child,
.btn:nth-child(7),
.btn:nth-child(8) {
  border-bottom: none;
}

.btn:first-child,
.btn:nth-child(4),
.btn:nth-child(7) {
  border-left: none;
}

.btn:last-child,
.btn:nth-child(3),
.btn:nth-child(6) {
  border-right: none;
}

.placeholder {
  opacity: 0;
}
.placeholder:hover {
  opacity: 0.3;
}

.beforeX {
  background: #fbe57d;
  width: 93%;
  height: 13%;
  position: absolute;
  transform: rotate(45deg);
  top: 70px;
  left: 8px;
}

.afterX {
  background: #fbe57d;
  width: 93%;
  height: 13%;
  position: absolute;
  transform: rotate(-45deg);
  top: 70px;
  left: 8px;
}

.beforeO {
  background: #8ac3ed;
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 50%;
  left: 8px;
  top: 8px;
}

.afterO {
  background: #252526;
  width: 70%;
  height: 70%;
  position: absolute;
  border-radius: 50%;
  left: 23px;
  top: 23px;
}

@media (max-width: 700px) {
  .btn {
    height: 8rem;
    width: 8rem;
    border: 2px solid #635b55;
    position: relative;
  }

  .beforeX {
    background: #fbe57d;
    width: 91%;
    height: 11%;
    position: absolute;
    transform: rotate(45deg);
    top: 57px;
    left: 6px;
  }

  .afterX {
    background: #fbe57d;
    width: 91%;
    height: 11%;
    position: absolute;
    transform: rotate(-45deg);
    top: 57px;
    left: 6px;
  }

  .beforeO {
    background: #8ac3ed;
    width: 85%;
    height: 85%;
    position: absolute;
    border-radius: 50%;
    left: 10px;
    top: 10px;
  }

  .afterO {
    background: #252526;
    width: 70%;
    height: 70%;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    top: 20px;
  }
}
