.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ReactModal__Content {
  background-color: #3c3f41 !important;
  border-radius: 20px !important;
}

.id-div {
  background-color: rgba(150, 245, 64, 0.26);
  text-align: center;
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.imgCopy:hover {
  cursor: pointer;
}

.MuiInput-underline:before {
  border-bottom: 2px solid aliceblue !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid orange !important;
}
.MuiInputBase-root {
  color: aqua !important;
}
.MuiInputBase-input {
  text-align: center !important;
  font-size: x-large !important;
}

.MuiPaper-rounded {
  border-radius: 18px !important;
}

.card {
  margin: 50px;
  min-width: min-content;
  border-radius: 20px;
}

.card:hover {
  cursor: pointer;
  background-color: #46fcde;
}

.modal-cards {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.img {
  height: auto;
  padding: 50px;
  width: 200px;
  display: block;
  min-width: 50px;
}

.text {
  text-align: center;
  font-size: 2em;
}




.nameInput{
  margin: 0 auto;
  margin-top: 10px;
  width: max-content;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.gameContainer{
  display: flex;
}

.gameOuter{
  width: 50%;
}

.messagesContainer{
  width: 50%;
}

.messageInput{
  width: 80%;
}

@media (max-width: 700px) {
  .card {
    margin: 50px;
    min-width: min-content;
  }

  .modal-cards {
    display: grid;
    justify-content: center;
    margin: 20px;
  }
  .MuiCardContent-root:last-child {
    padding-bottom: 0px !important;
}
.MuiCardContent-root {
    padding: 0px !important;
}

.nameInput{
  margin: 0 auto;
  margin-top: 10px;
  width:auto;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.gameContainer{
  display: unset;
}
.gameOuter{
  width: 100%;
}

.messagesContainer{
  width: 100%;
}


}
